<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Бог на связи -- психологическая помощь и  духовная поддержка через цитаты из Евангелия">
  <meta property="og:title" content="Бог на связи" />
  <meta property="og:description" content="Бог на связи -- психологическая помощь и  духовная поддержка через цитаты из Евангелия" />

  <meta property="og:type" content="website" />
  <meta property="og:image" content="/static/imgs/og_image.png" />
  <!-- <meta name="keywords" content=""> -->
  <meta name="author" content="Клим Костюк, Дмитрий Медведев">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/imgs/icon.png">
  <title>Бог на связи</title>
</head>

<body>
  <div class="pc-snap">
    <div id="container">
      <p id="quote">Что-то пошло не так :(</p>
    </div>
  </div>
</body>

</html>
