<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Бог на связи -- психологическая помощь и  духовная поддержка через цитаты из Евангелия">
  <meta property="og:title" content="Бог на связи" />
  <meta property="og:description" content="Бог на связи -- психологическая помощь и  духовная поддержка через цитаты из Евангелия" />

  <meta property="og:type" content="website" />
  <meta property="og:image" content="/static/imgs/og_image.png" />
  <!-- <meta name="keywords" content=""> -->
  <meta name="author" content="Клим Костюк, Дмитрий Медведев">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/imgs/icon.png">
  <title>Бог на связи</title>
</head>

<body>
  <div class="pc-snap">
    <div id="container">
      <div id="gospod" class="gospod">
        <picture>
          <source id="JesusWebp" type="image/webp" srcset="/static/imgs/jesus1.webp" />
          <img src="/static/imgs/jesus1.png" alt="Иисус Христос" id="JesusPng">
        </picture>
      </div>
      <div class="search-box" id="searchBox">
        <div class="search-img" id="searchImg">
          <picture>
            <source id="searchWebp" type="image/webp" srcset="/static/imgs/stroka.webp" />
            <img src="/static/imgs/stroka.png" alt="Строка поиска" id="searchPng">
          </picture>
          <picture>
            <source type="image/webp" srcset="/static/imgs/vibran.webp" />
            <img src="/static/imgs/vibran.png" id="searchDisabler">
          </picture>
          <input type="text" id="searchInput">
          <button id="searchButton"></button>
        </div>
      </div>
      <div id="answerText">
      <p id="quote"></p>
      <p id="from"></p>
    </div>
      <p id="prompt">что тревожит тебя, дитя моё?</p>
    </div>
    <div id="neboPod">
      <picture>
        <source type="image/webp" srcset="/static/imgs/nebo_pod.webp" />
        <img src="/static/imgs/nebo_pod.png" alt="Облака">
      </picture>
    </div>
    <div id="neboNad">
      <picture>
        <source type="image/webp" srcset="/static/imgs/nebo_nad.webp" />
        <img src="/static/imgs/nebo_nad.png" alt="Облака">
      </picture>
    </div>
    <div id="thumbs">
      <a id="thumbsUp" href="{{ url_for('support') }}">
        <picture>
          <source type="image/webp" srcset="/static/imgs/thumbs_up.webp" />
          <img src="/static/imgs/thumbs_up.png" alt="Цитата подходит">
        </picture>
      </a>
        <a id="thumbsDown" href="{{ url_for('support') }}">
          <picture>
            <source type="image/webp" srcset="/static/imgs/thumbs_down.webp" />
            <img src="/static/imgs/thumbs_down.png" alt="Цитата подходит">
          </picture>
        </a>
    </div>
    <picture>
      <source type="image/webp" srcset="/static/imgs/ray.webp" />
      <img src="/static/imgs/ray.png" alt="Луч" class="ray" id="ray-left">
    </picture>
    <picture>
      <source type="image/webp" srcset="/static/imgs/ray.webp" />
      <img src="/static/imgs/ray.png" alt="Луч" class="ray" id="ray-right">
    </picture>
  </div>
  <script src="/static/script.js"></script>
</body>

</html>
