<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Бог на связи -- психологическая помощь и  духовная поддержка через цитаты из Евангелия">
  <meta property="og:title" content='Поддержать "Бог на связи"' />
  <meta property="og:description" content="Бог на связи -- психологическая помощь и  духовная поддержка через цитаты из Евангелия" />

  <meta property="og:type" content="website" />
  <meta property="og:image" content="/static/imgs/og_image.png" />
  <!-- <meta name="keywords" content=""> -->
  <meta name="author" content="Клим Костюк, Дмитрий Медведев">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/imgs/icon.png">
  <title>Поддержать "Бог на связи"</title>
</head>

<body>
  <div class="pc-snap">
    <div id="container2">
      <a id="restart" href="{{ url_for('index', restart='true') }}">
        <picture>
          <source type="image/webp" srcset="/static/imgs/restart.webp" />
          <img src="/static/imgs/restart.png" alt="Начать заново">
        </picture>
      </a>
      <div class="pozotz">
      <a class="pozhertvovanie" href="https://boosty.to/bog_na_svyazi/donate" target="_blank">
        <picture>
          <source type="image/webp" srcset="/static/imgs/pozertvovanie.webp" />
          <img src="/static/imgs/pozertvovanie.png" alt="Пожертвование">
        </picture>
      </a>
      <a class="otziv" href="https://forms.gle/9pR66AWRtEG9Bt4Z7" target="_blank">
        <picture>
          <source type="image/webp" srcset="/static/imgs/otziv.webp" />
          <img src="/static/imgs/otziv.png" alt="Отзыв">
        </picture>
      </a>
    </div>
    <div id="oblakoLeft">
      <picture>
        <source type="image/webp" srcset="/static/imgs/oblako_left.webp" />
        <img src="/static/imgs/oblako_left.png" alt="Облако">
      </picture>
    </div>
    <div id="oblakoRight">
      <picture>
        <source type="image/webp" srcset="/static/imgs/oblako_right.webp" />
        <img src="/static/imgs/oblako_right.png" alt="Облако">
      </picture>
    </div>
    <div id="neboNad2">
      <picture>
        <source type="image/webp" srcset="/static/imgs/nebo_nad.webp" />
        <img src="/static/imgs/nebo_nad.png" alt="Облака">
      </picture>
    </div>
  </div>
</body>

</html>
